# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.pot
.env
venv/

# IDE
.vscode/
.idea/

# Allure
allure-results/
allure-report/

# 系统文件
Thumbs.db
Desktop.ini

# 本地配置文件
config.local.ini
*.local.*

# 测试覆盖率
.coverage
htmlcov/

# 包依赖
site-packages/

# 打包输出
build/
dist/
*.spec

# 临时文件
*.swp
*.swo
*~
# 新增：忽略日志文件夹
logs/
# 新增：忽略Python编译文件
*.pyc